@import "vars";

h1 {
    font-size: em(40px);
}

h2 {
    font-size: em(35px);
}

h3 {
    font-size: em(30px);
}

h4 {
    font-size: em(20px);
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a:hover {
    text-decoration: none;
}

.header-container {
    width: 1510px;
    margin: 0 auto;
}