/* colors */
$body-color: #fff;
$main_text_color: #494949;
$header_text_color: #fff;
$third_text_color: #006a9c;
$prm-btn: #e75a22;
$prm-btn-hover: #e64e20;
$secondary-color: #3ac1d8;
$title_line_gradient: linear-gradient(-93deg, #75d6e7 0%, #1abad7 100%);

/* font */
$main_font: 'Avenir', 'OpenSans', sans-serif;
$sub_font: 'Raleway', sans-serif;